<ion-header>
    <ion-navbar>
       
        <ion-buttons>
            <button ion-button icon-only (click)="cerrar_modal()">
               Regresar
            </button>
        </ion-buttons>



        <ion-buttons end *ngIf="imagenPreview && descripcion">
            <button ion-button icon-only (click)="crear_post()">
               Subir
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>




<ion-content padding>
    <ion-title center >Subir imagen</ion-title>
    <ion-list>
        
          <ion-item>
            <ion-label floating>Descripción</ion-label>
            <ion-input type="text" [(ngModel)]= "descripcion"></ion-input>
          </ion-item>

          <ion-item *ngIf="imagenPreview">
             
              <img [src]="imagenPreview">
            </ion-item>
        
         
        
        </ion-list>

        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block icon-left (click)="seleccionar_foto()"> <ion-icon name="photos"></ion-icon>
              Seleccionar Hola :v
              </button>
              </ion-col>
            <ion-col>
                <button ion-button block icon-left (click)="pedir_permisos_camara()"> <ion-icon name="camera"></ion-icon>
                  Camara
                  </button>
            </ion-col>
          </ion-row>
        </ion-grid>

</ion-content>
